@page "/Articles"
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using SMEAppHouse.Ladon.Web.Areas.Article.Pages
@model ArticlesPageModel
@{
    ViewData["Title"] = "News & Blogs";
    var readMoreOnTopNews = $"/articles/{@Model.TopNews.Slug}";
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <environment include="Development">
        <link href="~/css/articles.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/css/dist/articles.min.css" rel="stylesheet" />
    </environment>
}

<div class="container">
    <div class="main-body">

        <div class="articles">

            <!-- header section -->
            <div class="flex mt-1 px-4 lg:px-0 items-center p-3 justify-between" style="background-color: #edf2f7;padding-bottom: unset!important;">
                <h1 style="color: #28619b;" class="font-bold text-4xl">
                    News &amp; Blogs
                </h1>
            </div>
            <div class="flex flex-wrap md:flex-no-wrap space-x-0 md:space-x-6 pt-3" style="background-color: #ffffff;">
                <!-- main post -->
                <div class="mb-4 lg:mb-0  p-4 lg:p-0 w-full md:w-4/7 relative rounded block">
                    <img src="@Model.TopNews.Images.FirstOrDefault()?.ImageCDNUrl" class="rounded-md object-cover w-full h-64">

                    <span class="article-categories">
                        @foreach (var category in Model.TopNews.ArticleCategories.Select(c => (
                        Id: string.Join("-", c.Name.Split(" ")
                        .Select(c => c.ToLower().Trim())
                        .Where(s => !string.IsNullOrEmpty(s))),
                        c.Name)))
                        {
                            <a href="#@category.Id"
                               class="text-green-700 text-sm hidden md:block">
                                @category.Name
                            </a>
                        }
                    </span>

                    <h1 class="text-gray-800 text-4xl font-bold mt-2 mb-2 leading-tight"
                        style="color: #58587d; font-weight: 600; font-size: 2rem;">
                        @Model.TopNews.Title
                    </h1>
                    <p class="text-gray-600 mb-4">
                        @Model.TopNews.ArticleOverview
                    </p>
                    <a href="@readMoreOnTopNews" class="inline-block px-6 py-3 mt-2 rounded-md bg-green-700 text-gray-100">
                        Read more
                    </a>
                </div>

                <!-- side-panel sub-main posts -->
                <div class="w-full md:w-4/7">

                    @foreach (var sideNews in Model.SideNews)
                    {
                        var articleCategory = sideNews.ArticleCategories == null || !sideNews.ArticleCategories.Any() ? string.Empty :
                        sideNews.ArticleCategories.FirstOrDefault().Name;

                        <div class="rounded w-full flex flex-col md:flex-row">
                            <img src="@sideNews.Images.FirstOrDefault()?.ImageCDNUrl" class="block md:hidden lg:block rounded-md h-64 md:h-32 m-2 md:m-0" style="align-self: center;">
                            <div class="bg-white rounded px-4">
                                <span class="text-green-700 text-sm hidden md:block">@articleCategory</span>
                                <div class="md:mt-0 text-gray-800 font-semibold text-xl mb-2">
                                    <a href="@($"/articles/{sideNews.Slug}")">@sideNews.Title</a>
                                </div>
                                <p class="block md:hidden p-2 pl-0 pt-1 text-sm text-gray-600">
                                    @sideNews.MetaDescription
                                </p>
                            </div>
                        </div>
                    }

                </div>

            </div>
            <!-- end featured section -->
            <!-- subscribe -->
            <div class="rounded flex md:shadow ml-3 mr-3 mt-2 mb-3" style="padding: 10px; background:#9b97a5;">
                <img src="https://images.unsplash.com/photo-1579275542618-a1dfed5f54ba?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=900&amp;q=60" class="w-0 md:w-1/4 object-cover rounded-l">
                <div class="px-4 py-2">
                    <h3 class="text-3xl text-gray-800 font-bold">Subscribe to newsletter</h3>
                    <p class="text-xl text-gray-700">We sent latest news and posts once in every week, fresh from the site.</p>
                    <form class="mt-4 mb-10">
                        <input type="email" class="rounded bg-gray-100 px-4 py-2 border focus:border-green-400" placeholder="john@tech.com">
                        <button class="px-4 py-2 rounded bg-green-800 text-gray-100">
                            Subscribe
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                        <p class="text-green-900 opacity-50 text-sm mt-1" style="color: #ffffff;">No spam. We promise</p>
                    </form>
                </div>
            </div>
            <!-- end subscribe section -->
            <!-- latest blogs -->
            <div class="flex mt-1 px-4 lg:px-0 items-center p-3 justify-between" style="background-color: #5c638b;">
                <h2 class="font-bold text-3xl" style="color: #edeff1;">
                    Latest Posts
                </h2>
                @* <a class="bg-gray-200 hover:bg-green-200 text-gray-800 px-3 py-1 rounded cursor-pointer">
                View all
                </a> *@
            </div>
            <div class="block space-x-0 lg:flex p-2 lg:space-x-6" style="background-color: #5c638b;">

                @foreach (var article in Model.LatestNonNewsArticles)
                {
                    <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-2 lg:p-0">
                        <img src="@article.Images.FirstOrDefault()?.ImageCDNUrl" class="rounded" alt="technology">
                        <div class="p-4 pl-0">
                            <h2 class="font-bold text-2xl text-yellow">@article.Title</h2>
                            <p class="text-gray-700 mt-2">
                                @article.MetaDescription
                            </p>
                            <a href="@($"/articles/{@article.Slug}")" class="inline-block py-2 rounded text-green-900 mt-2 ml-auto"> Read more </a>
                        </div>
                    </div>
                }

            </div>
            <!-- end latest blogs -->
            <!-- archived blog posts -->
            @if (Model.ArchivedArticles != null && Model.ArchivedArticles.Any())
            {
                <div class="flex mt-1 px-4 lg:px-0 items-center p-3 justify-between" style="background-color: #ffffff;">
                    <h2 class="font-bold text-3xl" style="color: #666666;">
                        Archived Articles
                    </h2>
                </div>

                <div class="block space-x-0 lg:flex lg:space-x-6">
                    <div class="col-lg-12 m-15px-tb">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="blog-grid">
                                    <div class="blog-img">
                                        <div class="date">
                                            <span>04</span> <label>FEB</label>
                                        </div>
                                        <a href="#">
                                            <img src="https://www.bootdey.com/image/400x200/FFB6C1/000000" title="" alt="">
                                        </a>
                                    </div>
                                    <div class="blog-info">
                                        <h5>
                                            <a href="#">Prevent 75% of visitors from google analytics</a>
                                        </h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <div class="btn-bar">
                                            <a href="#" class="px-btn-arrow">
                                                <span>Read More</span>
                                                <i class="arrow"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4"><div class="blog-grid"><div class="blog-img"><div class="date"> <span>04</span> <label>FEB</label></div> <a href="#"> <img src="https://www.bootdey.com/image/400x200/D3D3D3/000000" title="" alt=""> </a></div><div class="blog-info"><h5><a href="#">Prevent 75% of visitors from google analytics</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div></div></div></div><div class="col-sm-4"><div class="blog-grid"><div class="blog-img"><div class="date"> <span>04</span> <label>FEB</label></div> <a href="#"> <img src="https://www.bootdey.com/image/400x200/87CEFA/000000" title="" alt=""> </a></div><div class="blog-info"><h5><a href="#">Prevent 75% of visitors from google analytics</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div></div></div></div><div class="col-sm-4"><div class="blog-grid"><div class="blog-img"><div class="date"> <span>04</span> <label>FEB</label></div> <a href="#"> <img src="https://www.bootdey.com/image/400x200/D3D3D3/000000" title="" alt=""> </a></div><div class="blog-info"><h5><a href="#">Prevent 75% of visitors from google analytics</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div></div></div></div><div class="col-sm-4"><div class="blog-grid"><div class="blog-img"><div class="date"> <span>04</span> <label>FEB</label></div> <a href="#"> <img src="https://www.bootdey.com/image/400x200/E0FFFF/000000" title="" alt=""> </a></div><div class="blog-info"><h5><a href="#">Prevent 75% of visitors from google analytics</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div></div></div></div><div class="col-sm-4"><div class="blog-grid"><div class="blog-img"><div class="date"> <span>04</span> <label>FEB</label></div> <a href="#"> <img src="https://www.bootdey.com/image/400x200/FFF0F5/000000" title="" alt=""> </a></div><div class="blog-info"><h5><a href="#">Prevent 75% of visitors from google analytics</a></h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><div class="btn-bar"> <a href="#" class="px-btn-arrow"> <span>Read More</span> <i class="arrow"></i> </a></div></div></div></div><div class="col-12 mb-6"><ul class="pagination justify-content-center"><li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a></li><li class="page-item"><a class="page-link" href="#">1</a></li><li class="page-item active"> <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a></li><li class="page-item"><a class="page-link" href="#">3</a></li><li class="page-item"> <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li></ul></div>
                        </div>
                    </div>
                </div>
            }

            
            <!-- end archived blog posts -->

        </div>

    </div>
</div>