@using SMEAppHouse.Ladon.Application.Models.Data
@model IEnumerable<ClientTestimonyModel>

@{
    var testimonials = Model.ToList();
}

@for (int i = 0; i < testimonials.Count; i++)
{
    var testimonial = testimonials[i];

    <div class="slider-item">
        <div class="testimonial-item">
            @{
                var additionalStyle = "background: linear-gradient(45deg, rgb(250, 96, 42), rgb(0, 226, 255))";
                if (!string.IsNullOrEmpty(testimonial.ProjectImageUrl))
                    additionalStyle = $"background: linear-gradient(rgb(137 141 149 / 61%), rgba(3, 2, 39, 0.61), rgba(13, 15, 39, .9)), url({testimonial.ProjectImageUrl}); background-attachment: local !important; background-repeat: no-repeat !important;background-size: cover !important;";
            }
            <div class="testimonial-body" style="@additionalStyle">
                <p>@testimonial.Remarks</p>
                <i class="fas fa-quote-right"></i>
            </div>
            <div class="testimonial-footer">
                <img src="@testimonial.ClientThumnailUrl" alt="user" />
                <h3>@testimonial.ClientName</h3>
                <h4>@testimonial.ClientProfession</h4>
                <h4>@testimonial.ClientBusinessName</h4>
            </div>
        </div>
    </div>

}